<!-- project page -->
<!-- project page -->
<div class="contentprofile">
    <div class="row">
        <div class="column">
            <div class="projects">
                <img class="" src="/images/shoes.jpg" alt="Krishna" style="width:100%;height:200px">
                <p>Footwear Management System </p>
                <hr>
                <p class="title">Made Footwear System for MOCHI using VB.NET.</p>
            </div>  
        </div>
        <div class="column">
            <div class="projects">
                <img class="" src="/images/event.jpeg" alt="Krishna" style="width:100%;height:200px">
                <p>Admission Enquiry Management</p>
                <hr>
                <p class="title">Created Website using PHP, HTML5, CSS and MYSQL for Universities and Students.</p>
            </div>  
        </div>
        <div class="column">
            <div class="projects">
                <img class="" src="/images/chat.png" alt="Krishna" style="width:100%;height:200px">
                <p>IOS Application</p>
                <hr>
                <p class="title">Grouping Chat Application</p>
            </div>  
        </div>
    </div>
</div>
<script>
document.getElementById("projects").style.color="white";
document.getElementById("home").classList.remove("active");
document.getElementById("contact").classList.remove("active");
document.getElementById("about").classList.remove("active");
</script>
